body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background-color: #edeff0;
  background-image: url('svgs/background.svg');
  background-repeat: repeat;
  background-size: 50px 50px;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
  color: #43AECF;
  font-weight: bold;
  font-size: 18px; 
  transition: .4s ease-out;
}

.nav-icon {
  fill:#39ADD1;
  transition: .4s ease-out;
}

header nav ul li:hover {
  color: #2b738a;
  cursor: pointer;
}

header nav ul li:hover .nav-icon{
  fill: #2b738a;
}

.mobile-text {
  color: #EAAA7F;
}

.logo {
  height: 120px;
  width: 140px;
}

.logo-paws {
  transition: transform .7s ease-in-out;
}

.logo:hover .logo-paws {
  transform: scale(1.2);
  transform-origin: 50% 50%;
}


main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

#corgi-layer {
 display: none;
}

h3 {
  margin: 0;
  color: #b97f5b;
}

.coat {
  display: inline-block;
}

.corgi-color {
  height: 150px;
  width: 130px;
  margin: 0 20px;
  transition: .5s;
}

.corgi-color:hover {
  transform: rotate(-35deg);
}

.corgi-sable {
  color: #b97f5b;
}

.corgi-fawn {
  color: #e9aa82;
}

.corgi-red {
  color: #834b29;
}

.corgi-stone {
  color:#52595F;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

@media (min-width: 300px) {
  .logo-letters{
    display: none;
  }
}

@media (min-width: 425px) {
  .mobile-text {
    display: none;
  }
  .logo-letters{
    display: initial;
  }
}